
body {
  display:flex;
  font: 400 15px Lato, bitter;
  background-color: rgb(252, 253, 256);
  line-height: 1.8;
  color: #2da4b1;
  width: 100%;
  height: 100%;
  padding: 0%;
  overflow-x: hidden; 
}

preloader{
background: #116c717a  url(https://drive.google.com/uc?export=view&id=1vGAtWfwQ_FYv6auzz3fV-IFGdIcJ-xoD) no-repeat center center;
background-size: 100%;
height: 100vh;
width: 100%;
position: fixed;
z-index: 100;
}
p {
  font-size: 14px;
  line-height: 1.375em;
  color: #741b47;
  font-weight: 400;
  margin-bottom: 20px;
}
h1 {
  font-size: 52px;
  text-transform: Exo;
  color: #116c71;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.375em;
}
h2 {
  font-size: 36px;
  text-transform: bitter;
  color: #116c71;
  font-weight: 600;
  margin-bottom: 30px;
}
h3 {
  font-size: 25px;
  text-transform: Exo;
  color: #741b47;
  font-weight: 400;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #2da4b1;
  font-weight: 400;
  margin-bottom: 30px;
}  
h5{
  font: 400 35px Exo;
  font-size: 30px;
  line-height: 1.375em;
  color: #116c71;
  font-weight: 400;
  margin-top: 15px;
} 
h6{
  font: 400 15px Lato, Arial;
  font-size: 20px;
  line-height: 1.375em;
  color: #116c71;
  font-weight: 400;
  margin-bottom: 10px;
} 
.h7{
  font-size: 36px;
  text-transform: bitter;
  color: #00c8d2;
  font-weight: 590;
  margin-bottom: 30px;
}
.extensio_turquesa{
  text-transform: bitter;
  color: #00c8d2;
  font-weight: 600;
  margin-bottom: 30px;
}
.h2_golden{
  text-transform: bitter;
  color: #dad83c;
  font-weight: 600;
  margin-bottom: 30px;
}
.h2_technology{
  text-transform: bitter;
  color: #8f49eb;
  font-weight: 600;
  margin-bottom: 30px;
}
.h3_technology{
  color: #8f49eb;
}
.h3_finanzas{
  color: #2da4b1;
}
.h3_marketing{
  color: #565505;
}
.letra_pie_dibujo{
  font-size: 15px;
  font-weight: 400;
  color: #741b47;
}
.h4_invertir{
  color: #fcffff;
  text-transform: Exo;
}
.h4_invertir_texto_izquierda{
  color: #fcffff;
  text-transform: Exo;
  text-align: left;
  padding: 5px;
  padding-top: 10px;
  padding-left: 10px;
}
.h1_invertir{
  font-size: 52px;
  text-transform: Exo;
  color: #fcffff;
  text-align: left;
  padding: 5px;
  padding-top: 10px;
}
.conservate_value{
  color: #98d9e6;
  padding: 10px;

}
.moderate_value{
  color: #94f7eb;
  padding: 5px;

}
.high_value{
  color: #f7dbb7;
  padding: 5px;

}
.h4_invertir_texto_izquierda{
  color: #fcffff;
  text-transform: Exo;
  text-align: left;
  padding: 5px;
  padding-top: 10px;
  padding-left: 10px;
}

li {
  font: 400 15px Lato, Arial;
  font-size: 18px;
  line-height: 1.375em;
  color: #2da4b1;
  background-color:rgba(252, 252, 252, 0);
  font-weight: 400;
  margin-bottom: 10px;
  padding: 5px 5px;
  margin-top: 5px;
}

.img_background_invertir{
  background-image: url('https://drive.google.com/uc?export=view&id=1qeCPCt0xbiej6l43QyXhkW2U5wX9nWf8') ; 
  padding: 30px;
  }
.img_background_invertir_fondo{
    background-color: #02050a;
    padding: 30px;
}

.img_background_portada_fondo{
  background-color: #116c717a;
  padding: 30px;
}

.container-fluid {
  background-color: rgba(242, 243, 247, 0);    
}
.fluid{
  background-color: rgb(242, 243, 247);    
  padding: 10px 10px 10px 10px;
}
.fluid-white{
  background-color: rgb(255, 255, 255);    
  padding: 10px 10px 10px 10px;
}
.container-nav {
  background-color: rgb(255, 255, 255);    
  padding-top: -20px;
  margin-top: -20px;
}
.container-fluid img{
  background-color: rgba(242, 243, 247, 0);    
  align-items: center;
}
.fluid img{
  background-color: rgb(242, 243, 247);    
  padding: 10px 10px 10px 70px;
  align-items: center;
}
.fluid-white img{
  background-color: rgb(242, 243, 247);    
  padding: 10px 10px 10px 70px;
  align-items: center;
}
.container-whitecenter {
  background-color: rgb(253, 253, 253);    
  padding: 10px 10px 10px 20px;
  margin-bottom: 10px;
}
.container-servicios-empresas {
  background-color: rgb(253, 253, 253);    
  padding: 10px 10px 10px 90px;
}
.servicios-empresas {
  background-color: #02050a; 
 
}
.servicios-empresas img {
  background-color: #02050a;    
  margin-left: 0px;
  margin-top: -10px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  max-height: 350px;
}
.servicios-empresas-derecha {
  background-color: rgb(255, 255, 255); 
  padding-top: 20px; 
  padding-left: 000px;
  text-align: right;  
}
.jumbotron {
  background-color: rgb(252, 253, 255);
  color: #116c71;
  font-family: Exo, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 20px;
  margin-bottom: 00px;
  margin-right: 0px;
  margin-left: 15px;
  margin-top: 00px;

}
.row {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-bottom: 00px;
  margin-right: 0px;
  margin-left: 60px;
  margin-top: 00px;
}
Image{
    max-width:100%;
  }
img{
    max-width:100%;
  }
.home{
  display: flex;
  padding-right: 0px;
}  

.bg-grey {
  background-color: #f6f6f6;
  padding-right: 100px;
  justify-content: center;
}

.thumbnail {
  padding: 10px 0px 10px 0px;
  border: none;
  border-radius: 0;
  padding-right: 0px;
  background-color: #ebf3f4;
}
.thumbnail img {
  margin: 10px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #00c8d2;
}
.carousel-indicators li {
  border-color: #00c8d2;
}
.carousel-indicators li.active {
background-color: #00c8d2;
}
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.ml-5{
  margin:  20px;

}


.textbox_shadow_animation_finanzas:hover h3 {
  padding: 5px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius:10px ;
  border: 1px solid #bceff5;
  color: #ffffff;
  box-shadow: 10px 10px 20px rgba(14, 161, 194, 0.309);
  transition: border-radius  0.5s;
}
.textbox_shadow_animation_conta:hover h3 {
  padding: 5px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius:10px ;
  border: 1px solid #42daeb;
  color: #2da4b1;
  box-shadow: 10px 10px 20px rgba(0, 97, 119, 0.309);
  transition: border-radius  0.5s;
}
.textbox_shadow_animation_marketing:hover h3 {
  padding: 5px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius:10px ;
  border: 1px solid #9c9826;
  box-shadow: 10px 10px 20px rgba(151, 114, 27, 0.309);
  transition: border-radius  0.5s;
}
.textbox_shadow_animation_technology:hover h3 {
  padding: 5px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius:10px ;
  color: #8f49eb;
  border: 1px solid #66028a;
  box-shadow: 10px 10px 20px #78027e4c;
  transition: border-radius  0.5s;
}
.col-md-2 h4 {
  margin-top: 20px;
  padding:  5px;
  text-align: center;
}
.col-md-2:hover h4 {
  text-align: center;
  padding:  5px;
  border-radius:15px ;
  border: 1px solid #42daeb;
  background-color: rgb(250, 250, 250);
  color: #21a9b8;
  box-shadow: 10px 10px 40px rgba(0, 97, 119, 0.309);
  transition: background-color 0.5s;
  transition: border-radius  0.5s;
}
.col-md-4 h4 {
  margin-top: 20px;
  padding:  5px;
  text-align: center;
}
.col-md-4:hover h4 {
  text-align: center;
  padding:  5px;
  border-radius:15px ;
  border: 1px solid #42daeb;
  background-color: rgb(250, 250, 250);
  color: #21a9b8;
  box-shadow: 10px 10px 40px rgba(0, 97, 119, 0.309);
  transition: background-color 0.5s;
  transition: border-radius  0.5s;
}

.dolar-grafico{
  background-color: rgb(252, 253, 255);
  color: #116c71;
  font-family: Exo, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 00px;
  margin-right: 0px;
  margin-left: 15px;
  margin-top: 00px; 

}

.btn {
  margin: 15px 0;
  background-color: #2da4b1;
  color: #fff;
}
.btn-white {
  margin: 15px 0;
  background-color: #fff;
  color: #2da4b1;
  border: 1px solid #2da4b1;
  border-radius:10px ;
}
.btn-broker {
  margin: 5px ;
  background-color: #ffffff;
  color: #2da4b1;
  font-size:40px ;
  padding: 5px;
}
.btn-broker:hover {
  border-radius:20px ;
  font-size:40px ;
  border: 1px solid #2da4b1;
  background-color: #ffffff;
  color: #116c71 ;
  box-shadow: 10px 10px 40px rgba(0, 97, 119, 0.309);
  transition: background-color  0.5s;
  transition: border-radius  0.5s;
  border: 1px solid #1e89f4; 
}
.btn:hover {
  border-radius:20px ;
  border: 1px solid #2da4b1;
  background-color: #ffffff;
  color: #116c71;
  box-shadow: 10px 10px 40px rgba(0, 97, 119, 0.309);
  transition: background-color  0.5s;
  transition: border-radius  0.5s;
  border: 1px solid #1e89f4; 
}
.btn:focus {
  border-radius:20px ;
  border: 1px solid #2da4b1;
  background-color: #ffffff;
  color: #116c71;
  box-shadow: 10px 10px 40px rgba(0, 97, 119, 0.309);
  transition: background-color  0.5s;
  transition: border-radius  0.5s;
  border: 1px solid #1e89f4; 
}
.btn-white:hover {
  border-radius:20px ;
  border: 1px solid #2da4b1;
  background-color: #ffffff;
  color: #116c71;
  box-shadow: 10px 10px 40px rgba(0, 97, 119, 0.309);
  transition: background-color  0.5s;
  transition: border-radius  0.5s;
  border: 1px solid #1e89f4; 
}
.portada_curso{
  border: 3px solid #1e94f499; 
  border-radius:20px ;
  transition: box-shadow 0.5s;
  width: 400px;
  height: 400px;
}
.portada_curso:hover {
  box-shadow: 10px 10px 40px rgba(0, 97, 119, 0.309);
  border-radius:30px ;
  margin-top: -7px;
  transition: margin-top 0.3s;
  border: 2px solid #1e94f499; 
}
.portada_curso img{
  border-radius:20px ;
  width: 390px;
  height: 390px;
}
.portada_curso:hover img{
  border-radius:30px ;
}

.panel {
  border: 2px solid #1e94f499; 
  border-radius:23px ;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 10px 10px 40px rgba(0, 97, 119, 0.309);
  border-radius:23px ;
  margin-top: -7px;
  transition: margin-top 0.3s;
  border: 2px solid #1e94f499; 
}
.panel-footer .btn:hover {
  border-radius:20px ;
  border: 1px solid #2da4b1;
  background-color: #ffffff;
  color: #116c71;
  box-shadow: 10px 10px 40px rgba(0, 97, 119, 0.309);
  transition: background-color  0.7s;
  transition: border-radius  0.7s;
  border: 1px solid #1e89f4; 
}
.panel-heading {
  border-radius:20px ;
  color: rgb(255, 255, 255);
  background-color: #2da4b1 !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-heading h1 {
  border-radius:20px ;
  color: rgb(255, 255, 255);
  background-color: #2da4b1 !important;
  border-bottom: 1px solid transparent;
}
.panel-heading h3 {
  border-radius:20px ;
  color: rgb(255, 255, 255);
  background-color: #2da4b1 !important;
  border-bottom: 1px solid transparent;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.panel-heading4 {
  border-radius:20px ;
  color: rgb(255, 255, 255);
  background-color: #02122b !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-heading4 h1 {
  border-radius:20px ;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid transparent;
}
.panel-heading4 h3 {
  border-radius:20px ;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid transparent;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.panel-heading1 {
  border-radius:20px ;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 118, 118) !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-heading1 h1 {
  border-radius:20px ;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid transparent;
}
.panel-heading1 h3 {
  border-radius:20px ;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid transparent;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.panel-heading2 {
  border-radius:20px ;
  color: rgb(255, 255, 255);
  background-color: #dad83c;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-heading2 h1 {
  border-radius:20px ;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid transparent;
}
.panel-heading2 h3 {
  border-radius:20px ;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid transparent;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.panel h4 {
  padding: 0px 10px 0px 10px;
}
.panel-footer {
  border-radius:20px ;
  background-color: white !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #2da4b1;
  color: #fff;
  border-radius:10px ;
}


.service-panel {
  border: 1px solid #2da4b1; 
  border-radius: 10px;
  background-color: #ffffff;
  transition: box-shadow 0.5s;
  color: #ffffff;
  text-align: left;
  margin-left: 0px;
  justify-content: center;
  justify-items: center;
  
}
.service-panel:hover {
  box-shadow: 10px 10px 40px rgba(0, 97, 119, 0.439);
  margin-top: 0px;
  margin-bottom: 1px;
  transition: margin-top 1s;
  border: 1px solid #01ddffd8; 
  color:#3363b1;
  border-radius: 20px;
  visibility: visible;
}
.service-panel-heading {
  color: rgb(255, 255, 255) !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  border-radius: 10px;
  justify-content: center;
  justify-items: center;
}
.service-panel-heading:hover  {
  border-radius: 10px;
  color: #2da4b1 !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  padding-top: 0px;
  padding-bottom: 0px;
  visibility: visible;
  size: 15px;
  justify-content: left;
  justify-items: left;  
  margin-bottom: 27px; 
}
.service-panel-heading:hover h1 {
  font-size: 25px;
  color:#1793a1 !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
  padding: 1px 10px 1px 10px;
  
}
.service-panel-heading:hover h2 {
  color: rgb(255, 255, 255) !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  font-size: 0px;
  visibility: collapse;
  padding: 0px;
  size: 0px;
}
.service-panel-heading:hover h3 {
  font-size: 20px;
  color: #2da4b1 !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
  padding: 0px 10px 0px 10px;
  margin-top: -15px;
}
.service-panel-heading:hover h5 {
  font-size: 17px;
  color: #741b47 !important;
  background-color: #ffffff !important;
  justify-content: left;
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
  padding: 0px 10px 10px 10px;
  margin-top: -25px;
}
.service-panel-heading:hover img {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: hidden;
  max-width: 0px;    
  max-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}


.service-panel-heading h1 {
  color: rgb(255, 255, 255) !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  font-size: 0px;
  visibility: collapse;
}
.service-panel-heading h2 {
  font-size: 33px;
  color:#2da4b1 !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  text-align: center;
  margin-top: -60px;
  margin-bottom: 10px;
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  visibility: visible;
}
.service-panel-heading h3 {
  color: rgb(255, 255, 255) ;
  background-color: #ffffff ;
  border-bottom: 1px solid transparent;
  font-size: 0px;
  visibility: collapse;
}
.service-panel-heading h5 {
  color: rgb(255, 255, 255) !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  font-size: 0px;
  visibility: collapse;
}
.service-panel-heading img {
  justify-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  margin-right: 00px;
  margin-bottom: 5px;
  margin-left: 00px;
}

.img-apertura:hover img{
  border-end-end-radius:350px;
  border-end-start-radius:350px;
  border-start-end-radius: 100px;
  border-start-start-radius:350px;
  border: 1px solid #00e5ff2e;
  background-color: #85efff0f;
  color: #116c71;
  box-shadow: 10px 10px 40px rgba(4, 154, 188, 0.515);
  transition: background-color  1.5s;
  transition: border-radius  1s;
  border: 1px solid #1ed0f4; 
}
.img-inversion img {
  border: 2px solid #000a0c;
  color: #000a0c;
  background-color: #000a0c;
  border-end-end-radius:20px;
  border-end-start-radius:20px;
  border-start-end-radius: 20px;
  border-start-start-radius:20px;
}
.img-inversion:hover img{
  border-end-end-radius:50px;
  border-end-start-radius:50px;
  border-start-end-radius: 50px;
  border-start-start-radius:50px;
 
  border: 1px solid #00e5ff2e;
  background-color: #85efff0f;
  color: #116c71;
  box-shadow: 10px 10px 40px rgba(4, 154, 188, 0.515);
  transition: background-color  1.5s;
  transition: border-radius  0.5s;
  border: 1px solid #1ed0f4; 
}
.img-emprendedor:hover img{
  border-start-start-radius:100px;
  border-start-end-radius: 50px;
  border-end-end-radius:50px;
  border-end-start-radius:100px;
 
  background-color: #85efff0f;
  box-shadow: 10px 10px 40px rgba(4, 154, 188, 0.515);
  transition: background-color  1.5s;
  transition: border-radius  0.5s;
  border: 1px solid #1ed0f4; 
}
.img-giros:hover img{
  border-start-start-radius:450px;
  border-start-end-radius: 450px;
  border-end-end-radius:450px;
  border-end-start-radius:450px;
 
  background-color: #85efff0f;
  box-shadow: 10px 10px 40px rgba(4, 154, 188, 0.515);
  transition: background-color  1.5s;
  transition: border-radius  0.5s;
  border: 1px solid #1ed0f4; 
}
.grafico_mediano iframe {
  max-width: 350px;
  height: 600px;
  border-radius: 50px;
  color: #2da4b1;
  border:2px solid #2beaff;
  padding: 5px;
  margin: 5px; 
  visibility: visible;
  size: 15px;
}
.grafico_grande iframe {
  height: 470px;
  border-radius: 20px;
  color: #2da4b1 !important;
  border: 1px solid #2da4b1;
  background-color: solid rgb(253, 253, 253) !important;
  visibility: visible;
  size: 15px;
}
.data_perfiles_inversores_1 img {
  width: 900px;
  height: 150px;
}
.data_perfiles_inversores_2 img {
  width: 800px;
  height: 450px;
}

.tabla_grande iframe {
  height: 500px;
  border-radius: 20px;
  color: #2da4b1 !important;
  border: 1px solid #00e5ff2e;
  background-color: solid rgb(253, 253, 253) !important;
  visibility: visible;
  size: 15px;
}
.grafico_movil_costado iframe {
  max-width: 700px;
  max-height: 450px;
  min-width: 600px;
  min-height: 350px;
  border-radius: 10px ;
  color: #2da4b1 1px;
  border: 1px solid #3ab1be;
  background-color: solid rgb(253, 253, 253) !important;
  visibility: visible;
  size: 15px;
}
.input_jubilacion{
  margin-left: 10px;
  padding: 10px;
  background-color:rgb(251, 252, 255) ;
  z-index: 9999;
  border: 1px solid #00c8d299;
  border-radius: 10px;
  font-size: 25px  #00c8d2 ;
  color: #00c8d2;
}

.input_jubilacion:focus{
  margin-left: 10px;
  padding: 10px;
  background-color:rgb(251, 252, 255) !important;
  z-index: 9999;
  border-radius: 5px;
  
  background-color: #85efff0f;
  box-shadow: 10px 10px 10px rgba(4, 154, 188, 0.515);
  transition: background-color  0.5s;
  transition: border-radius  0.5s;
  border: 2px solid #44ecffdd;
  color: #00c8d2;
}

.navbar {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 1px;
  margin-bottom: 1px;
  padding-right: 5px;
  background-color:rgb(251, 252, 255) ;
  z-index: 9999;
  border: 1;
  font-size: 15px;
  line-height: 1.42857143;
  letter-spacing:3px;
  border-radius: 0;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
  color: #2da4b1 !important;
  background-color: rgb(251, 252, 255);
  padding-right: 5px;
  padding-bottom: 1px;
  margin-bottom: 1px;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #196b74 ;
  background-color: rgb(251, 252, 255) !important;
  transition: box-shadow 0.5s;
  border-radius: 7px;
  box-shadow: 5px 5px 5px #196b744e;
}
.dropdown-menu{
  color: #196b74 ;
  background-color: rgb(251, 252, 255) ;
  transition: box-shadow 0.5s;
  border-radius: 7px;
  border-left:#2df3fd64 ;
  border-top:#2df3fd64 ;
  border-right:rgba(45, 243, 253, 0.705);
  box-shadow: 5px 5px 5px #196b744e;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #f3f5f5 solid;
  background-color: #2aa3aac0;
  margin-top: 15px;
  margin-bottom: 1px;
  padding-bottom: 7px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 7px;
  box-shadow: 5px 5px 5px #196b744e;  
}
.navbar-default .navbar-toggle .icon-bar{
  color: #187373 solid;
  background-color: rgba(255, 255, 255, 0.753) ;
}
.navbar-default img {
  width: 200px;
  height: 60px;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

.bandera img {
  width: 45px;
  height: 30px;
  margin-top: 18px;
  margin-bottom: 1px;
}



footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #116c71;
  padding-right: 0px;
}
.slideanim {
  visibility:hidden;
  padding-right: 10px;
  padding-left: 30px;
}
.slideanim_portada {
  padding-right: 10px;
  padding-left: 20px;
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  visibility: visible;
}

.slide {
  padding-right: 0px;
  padding-left: 20px;
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
.serviceanim {
  padding-right: 0px;
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

.iframe-dolar iframe {
  flex: auto;
  border-radius: 50px;
  color: #2da4b1 !important;
  border: 1px solid #00e5ff2e;
  background-color: solid rgb(253, 253, 253) !important;
  padding: 5px;
  margin: 5px; 
  visibility: visible;
  size: 15px;
}

.tab {
  overflow: hidden;
  border: 1px solid #add2d6;
  background-color: rgb(245, 245, 245);
  margin-bottom: 5px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  transition: border-radius 0.5s;
  border-radius: 7px;
}
.tablinks{
  padding: 15px 0px 15px 10px;
  margin: 3px 0px 3px 0px;
  font-size: 30px;
}
.tablinks:hover {
  background-color: #ddd;
  transition: border-radius 0.5s;
  border-radius: 7px;
}
.tablinks.active {
  background-color:   #008cd2;
  color: #ffffff;
  transition: border-radius 1.0s;
  border-radius: 15px;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color:   #008cd2;
  color: #ffffff;
  transition: border-radius 1.0s;
  border-radius: 15px;
}
.activaciontab:active{
  background-color:   #008cd2;
  color: #ffffff;
  transition: border-radius 1.0s;
  border-radius: 15px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 5px 5px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
/* Style the close button */
.topright {
  float: center;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  background-color:#2da4b1;
  border-radius: 10px;
  border: 1px solid #c1c7cb;
  margin: 0px;
}

.topright:hover {
  background-color: #ffffff;
  color: red;
  transition: border-radius 1.0s;
  border-radius: 30px;
  border-color: #008cd2;
  
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
.chart {
  width: 100%; 
  min-height: 450px;
}
@media screen and (max-width: 1050px) {
  .navbar li a, .navbar .navbar-brand {
    padding-right: 0px;
    margin-bottom: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 84%;
    letter-spacing:1px;
  }
  .navbar-default img {
    width: 200; 
    height: 50px; 
    margin-bottom: 1px;
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 1px;
  }
  .navbar{
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .jumbotron {
    padding-left: 5px;  
    margin-left: 5px;
  } 
  .row {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    margin-bottom: 00px;
    margin-right: 0px;
    margin-left: 30px;
    margin-top: 00px;
  }

  .body{
    max-width: 100%;
    max-height: 100%;
  }
  .col-sm-4 {
    text-align: center;
    margin: 15px 0;
    max-height: 150px;  
  }
  .col-sm-2 img{
    width: 100%;
    max-height: 150px;  
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px; 
  }
  img{
    max-width: 100%; 
    max-height: 100%;
    padding-left: 5px;
  } 
  .img-inversion:hover img{
    border-start-start-radius:50px;
    border-start-end-radius: 50px;
    border-end-start-radius:50px;
    border-end-end-radius:50px;
 
    border: 1px solid #00e5ff2e;
    background-color: #85efff0f;
    color: #116c71;
    box-shadow: 5px 5px 5px rgba(4, 154, 188, 0.515);
    transition: background-color  1.5s;
    transition: border-radius  0.5s;
    border: 1px solid #1ed0f4; 
  }
  .grafico_mediano iframe {
    flex: auto;
    max-width: 100%;
    border-radius: 50px;
    padding:0px;
    margin: 0px; 
  }
  .grafico_grande iframe {
  
    height: 100%;
    min-height: 350px;
    border-radius: 10px;
    color: #2da4b1 !important;
    border: 1px solid #00e5ff2e;
    background-color: solid rgb(253, 253, 253) !important;
    padding:0px;
    visibility: visible;
  } 
  .img_background_invertir{
    background-image: url('https://drive.google.com/uc?export=view&id=1qeCPCt0xbiej6l43QyXhkW2U5wX9nWf8') ; 
    padding: 20px;
    }
  .img_background_invertir_fondo{
      padding: 20px;
  }    
  .img_background_portada_fondo{
    padding: 20px;
}  

  .data_perfiles_inversores_1 img {
    min-height: 100px;
    height: 100%;
    min-width: 700px;
  }

  .data_perfiles_inversores_2 img {
    width: 900px;
    height: 450px;
  }

  .tabla_grande iframe {
  
    height: 100%;
    min-height: 400px;
    border-radius: 10px;
    color: #2da4b1 !important;
    border: 1px solid #00e5ff2e;
    background-color: solid rgb(253, 253, 253) !important;
    padding:0px;
    visibility: visible;
  } 
  .grafico_movil_costado iframe {
    max-width: 800px;
    max-height: 450px;
    min-width: 600px;
    min-height: 350px;
    border-radius: 10px;
    color: #2da4b1 !important;
    border: 1px solid #00e5ff2e;
    background-color: solid rgb(253, 253, 253) !important;
    visibility: visible;
    size: 15px;
  }
  .thumbnail img{
    width: 100%;
    height: 100%;
  }
  .dolar-grafico iframe {
    max-width: 370px;
    max-height: 450px; 
    padding-right: 0px;
    padding-left: 0px;   
    padding-bottom: 0px;   
    padding-top: 0px; 
  }  
   
}

@media screen and (max-width: 768px) {
  .body{
    max-width: 100%;
    max-height: 100%;
  }
  .col-sm-4 {
    text-align: center;
    margin: 15px 0;
  }
  .col-sm-2 img{
    width: 100%;
    max-height: 150px;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px; 
  }
  .jumbotron {
    padding-left: 5px;  
    margin-left: 5px;
  } 
  img{
    max-width: 100%; 
    max-height: 100%;
    padding-left: 5px;
  } 
  .row {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px; 
    margin-bottom: 00px;
    margin-right: 00px;
    margin-left: 10px;
    margin-top: 0px;
  }
  .container-whitecenter {
    background-color: rgb(253, 253, 253);    
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
  }
  .img-inversion:hover img{
    border-start-start-radius:50px;
    border-start-end-radius: 50px;
    border-end-start-radius:50px;
    border-end-end-radius:50px;
 
    border: 1px solid #00e5ff2e;
    background-color: #85efff0f;
    color: #116c71;
    box-shadow: 5px 5px 5px rgba(4, 154, 188, 0.515);
    transition: background-color  1.5s;
    transition: border-radius  0.5s;
    border: 1px solid #1ed0f4; 
  }
  .grafico_mediano iframe {
    flex: auto;
    max-width: 100%;
    border-radius: 50px;
    padding:0px;
    margin: 0px; 
  }
  .grafico_grande iframe {
  
    height: 100%;
    min-height: 350px;
    border-radius: 10px;
    color: #2da4b1 !important;
    border: 1px solid #00e5ff2e;
    background-color: solid rgb(253, 253, 253) !important;
    padding:0px;
    visibility: visible;
  } 
  .img_background_invertir{
    background-image: url('https://drive.google.com/uc?export=view&id=1qeCPCt0xbiej6l43QyXhkW2U5wX9nWf8') ; 
    padding: 15px;
    }
  .img_background_invertir_fondo{
    padding: 15px;
  }
  .img_background_portada_fondo{
    padding: 15px;
  }
  .data_perfiles_inversores_1 img {
    min-height: 100px;
    height: 100%;
    min-width: 600px;
  }
  .data_perfiles_inversores_2 img {
    min-height: 100px;
    height: 100%;
    min-width: 600px;
  }
  .tabla_grande iframe {
  
    height: 100%;
    min-height: 410px;
    border-radius: 10px;
    color: #2da4b1 !important;
    border: 1px solid #00e5ff2e;
    background-color: solid rgb(253, 253, 253) !important;
    padding:0px;
    visibility: visible;
  } 
  .grafico_movil_costado iframe {
    max-width: 700px;
    max-height: 380px;
    min-width: 550px;
    min-height: 330px;
    border-radius: 5px;
    visibility: visible;
  }
  .thumbnail img{
    width: 100%;
    height: 100%;
  }
  .dolar-grafico iframe {
    max-width: 370px;
    max-height: 450px; 
    padding-right: 0px;
    padding-left: 0px;   
    padding-bottom: 0px;   
    padding-top: 0px; 
  }  
  .navbar-default img {
    max-height: 50px; 
    margin-bottom: 1px;
    margin-top: 1px;
  }
}


@media screen and (max-width: 480px) {
  .body{
    max-width: 100%;
    max-height: 100%;
  }
  .logo {
    font-size: 50px;
  }

  img{
    max-width: 100%; 
    max-height: 100%;
    padding-left: 5px;
  }  
  iframe{
    max-width: 100%; 
    max-height: 100%;   
  }

  h1{font-size: 37px} 
  h2{font-size: 27px} 
  h3{font-size: 19px} 
  h4{font-size: 14px} 
  h5{font-size: 22px} 
  h6{font-size: 16px} 
  h7{font-size: 26px}
  p{font-size: 14px} 
  l1{font-size: 14px} 
  .jumbotron {
    padding-left: 0px;  
  } 
  .navbar-default img {
    max-width: 170px; 
    margin-bottom: 1px;
    margin-top: 5px;
  }
    .bandera img {
    width: 60px;
    height: 40px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .service-panel-heading img {
    max-width: 100%; 
    max-height: 150px; 
    padding-right: 0px;
    padding-left: 0px;    
    padding-bottom: 10px;   
    padding-top: 5px; 
  }
  .service-panel-heading:hover h1 {
    font-size: 17px;
  } 
  .service-panel-heading h2 {
    font-size: 20px;
  }   
  .service-panel-heading:hover h3 {
    font-size: 13px;
  }
  .service-panel-heading:hover h5 {
    font-size: 10px;
  } 
  .h1_invertir{
    font-size: 36px;
    padding: 2px;
    padding-top: 5px;
  }
  .slideanim img{
    padding-right: 10px; 
    padding-left: 5px; 
    max-width: 100%; 
    max-height: 100%; 
  }
  .servicios-empresas img {
    background-color: #02050a;    
    margin-left: -3px;
    margin-top: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    max-width: 100%; 
    max-height: 330px; 
  }

  .container-fluid {
    text-align: center;
  }
  .fluid {
    padding: 10px 0px 10px 0px; 
    text-align: center;
  }
  .fluid-white {
    padding: 10px 0px 10px 0px; 
    text-align: center;
  }
  .container-fluid img{
    background-color: rgba(242, 243, 247, 0);    
    align-items: center;
  }
  .fluid img{
    background-color: rgb(242, 243, 247);    
    padding: 10px 0px 10px 0px; 
    align-items: center;
  }  
  .fluid-white img{
    background-color: rgb(242, 243, 247);    
    padding: 10px 0px 10px 0px; 
    align-items: center;
  }
  .container-whitecenter {
    padding: 10px 0px 10px 0px; 
    text-align: center;
  }
  .container-whitecenter img{
    background-color: rgb(253, 253, 253);    

    align-items: center;
  }
  .container-servicios-empresas {
    padding: 10px 0px 10px 0px; 
    text-align: center;
  }
  .img-inversion:hover img{
    border-start-start-radius:50px;
    border-start-end-radius: 50px;
    border-end-start-radius:50px;
    border-end-end-radius:50px;
 
    border: 1px solid #00e5ff2e;
    background-color: #85efff0f;
    color: #116c71;
    box-shadow: 5px 5px 5px rgba(4, 154, 188, 0.515);
    transition: background-color  1.5s;
    transition: border-radius  0.5s;
    border: 1px solid #1ed0f4; 
  }
  .row {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px; 
    margin-bottom: 00px;
    margin-right: 00px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .grafico_mediano iframe {
    padding:0px;
    margin: 0px; 
  }
  .grafico_grande iframe {
    height: 100%;
    min-height: 390px;
    border-radius: 10px;
    padding:0px;
  } 
  .img_background_invertir{
  background-image: url('https://drive.google.com/uc?export=view&id=1qeCPCt0xbiej6l43QyXhkW2U5wX9nWf8') ; 
  padding: 1px;
  }
.img_background_invertir_fondo{
    padding: 5px;
}
.img_background_portada_fondo{
  padding: 5px;
}
  .data_perfiles_inversores_1 img {
    min-height: 70px;
    min-width: 300px;
  }
  .data_perfiles_inversores_2 img {
    min-height: 250px;
    height: 100%;
    min-width: 250px;
  }
  .portada_curso {
    max-width: 330px;
    max-height: 330px;

  }
  .portada_curso img{
    max-width: 320px;
    max-height: 320px;

  }
  .tabla_grande iframe {
  
    height: 100%;
    min-height: 410px;
    border-radius: 10px;
    color: #2da4b1 !important;
    border: 1px solid #00e5ff2e;
    background-color: solid rgb(253, 253, 253) !important;
    padding:0px;
    visibility: visible;
  } 
  .grafico_movil_costado iframe {
    max-width: 390px;
    max-height: 380px;
    min-width: 300px;
    min-height: 330px;
    border-radius: 5px;
    visibility: visible;
  }
  .slideanim_portada {
    padding-right: 1px;
    padding-left: 1px;
  }
  .tablinks{
    padding: 10px 0px 10px 5px;
    margin: 3px 0px 3px 0px;
    font-size: 20px;
  }
}
