body {
  font: 400 15px Lato, bitter;
  background-color: #f2f3f6;
  line-height: 1.8;
  color: #818181;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0px;
  margin-right: 0px;
}

#preloader{
background: #116c717a url("https://drive.google.com/uc?export=view&id=1vGAtWfwQ_FYv6auzz3fV-IFGdIcJ-xoD") no-repeat center center;
background-size: 100%;
height: 100vh;
width: 100%;
position: fixed;
z-index: 100;
}-->
p {
  font-size: 14px;
  line-height: 1.375em;
  color: #741b47;
  font-weight: 400;
  margin-bottom: 20px;
}
h1 {
  font-size: 52px;
  text-transform: Exo;
  color: #116c71;
  font-weight: 700;
  margin-bottom: 20px;
}
h2 {
  font-size: 36px;
  text-transform: bitter;
  color: #116c71;
  font-weight: 600;
  margin-bottom: 30px;
}
h3 {
  font-size: 25px;
  text-transform: Exo;
  color: #741b47;
  font-weight: 400;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #2da4b1;
  font-weight: 400;
  margin-bottom: 30px;
}  
h5{
  font: 400 35px Exo;
  font-size: 30px;
  line-height: 1.375em;
  color: #116c71;
  font-weight: 400;
  margin-top: 15px;
} 
h6{
  font: 400 15px Lato, Arial;
  font-size: 20px;
  line-height: 1.375em;
  color: #116c71;
  font-weight: 400;
  margin-bottom: 10px;
} 
li {
  font: 400 15px Lato, Arial;
  font-size: 18px;
  line-height: 1.375em;
  color: #2da4b1;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 5px 5px;
  margin-top: 5px;
}

.container-fluid {
  background-color: #f2f3f6;    
  padding: 60px 60px 50px 50px default;
}
.jumbotron {
  background-color: rgb(247, 248, 250);
  color: #116c71;
  font-family: Exo, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 00px;
  padding-right: 00px;
  margin-bottom: 00px;
  margin-right: 0px;
  margin-left: 00px;
  margin-top: 00px;
}
Image{
    max-width:100%;
  }
img{
    max-width:100%;
  }
.home{
  display: flex;
}  

.bg-grey {
  background-color: #f6f6f6;
}
.logo-small {
  color: #f4511e;
  font-size: 50px;
}
.logo {
  color: #f4511e;
  font-size: 200px;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}
.carousel-indicators li {
  border-color: #f4511e;
}
.carousel-indicators li.active {
  background-color: #f4511e;
}
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}



.panel {
  border: 1px solid #f4511e; 
  border-radius:20px ;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 10px 10px 40px rgba(0, 97, 119, 0.309);
  border-radius:20px ;
  margin-top: -7px;
  transition: margin-top 0.3s;
  border: 1px solid #1e89f4; 
}
.panel-footer .btn:hover {
  border-radius:20px ;
  border: 1px solid #2da4b1;
  background-color: #116c71;
  color: #2da4b1;

}
.panel-heading {
  border-radius:20px ;
  color: #fff !important;
  background-color: #2da4b1 !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  border-radius:20px ;
  background-color: white !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #2da4b1;
  color: #fff;
}


.service-panel {
  border: 1px solid #2da4b1; 
  border-radius: 10px;
  background-color: #ffffff;
  transition: box-shadow 0.5s;
  color: #ffffff;
  text-align: left;
  margin-left: 0px;
  justify-content: center;
  justify-items: center;
  
}
.service-panel-heading:hover  {
  border-radius: 10px;
  color: #2da4b1 !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  padding-top: 0px;
  padding-bottom: 0px;
  visibility: visible;
  size: 15px;
  justify-content: left;
  justify-items: left;
  
}
.service-panel-heading:hover h1 {
  font-size: 25px;
  color:#2da4b1 !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
  padding: 1px 10px 1px 10px;
}
.service-panel-heading:hover h2 {
  color: rgb(255, 255, 255) !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  font-size: 0px;
  visibility: collapse;
  padding: 0px;
  size: 0px;
}
.service-panel-heading:hover h4 {
  font-size: 20px;
  color: #2da4b1 !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
  padding: 0px 10px 1px 10px;
}
.service-panel-heading:hover h5 {
  font-size: 15px;
  color: #741b47 !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  justify-content: left;
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
  padding: 0px 10px 1px 10px;
}
.service-panel-heading:hover img {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: hidden;
  max-width: 0px;    
  max-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.service-panel:hover {
  box-shadow: 10px 10px 40px rgba(0, 97, 119, 0.309);
  margin-top: 0px;
  transition: margin-top 0.0s;
  border: 1px solid #960404; 
  color:#b13333;
  border-radius: 10px;
  visibility: visible;
}
.service-panel-heading {
  color: rgb(255, 255, 255) !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  border-radius: 10px;
  justify-content: center;
  justify-items: center;
}
.service-panel-heading h1 {
  color: rgb(255, 255, 255) !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  font-size: 0px;
  visibility: collapse;
}
.service-panel-heading h2 {
  font-size: 26px;
  color:#2da4b1 !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  text-align: center;
  margin-top: -50px;
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  visibility: visible;
}
.service-panel-heading h4 {
  color: rgb(255, 255, 255) !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  font-size: 0px;
  visibility: collapse;
}
.service-panel-heading h5 {
  color: rgb(255, 255, 255) !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid transparent;
  font-size: 0px;
  visibility: collapse;
}
.service-panel-heading img {
  

  justify-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  margin-right: 00px;
  margin-bottom: 00px;
  margin-left: 00px;
}

.navbar {
  margin-bottom: 20px;
  margin-top: 0px;
  background-color: #f2f3f6;
  z-index: 9999;
  border: 1;
  font-size: 15px;
  line-height: 1.42857143;
  letter-spacing:4px;
  border-radius: 0;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  
}
.navbar li a, .navbar .navbar-brand {
  color: #2da4b1 !important;
  padding-right: 0px;

}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #196b74 !important;
  background-color: #d7f8ff13 !important;
  transition: box-shadow 0.8s;
  box-shadow: 5px 5px 5px #196b744e;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #116c71 !important;
  margin-top: 15px;
}




footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #116c71;
}
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
.serviceanim {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 15px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
  img{
    max-width: 150px;
    max-height: 150px;    
  }

}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }

  img{
    max-width: 150px;
    max-height: 120px;
  }  
  h1{font-size: 35px} 
  h2{font-size: 25px} 
  h3{font-size: 20px} 
  h4{font-size: 15px} 
  h5{font-size: 25px} 
  h6{font-size: 15px} 
  p{font-size: 12px} 
  l1{font-size: 12px} 
  
  .service-panel-heading:hover h1 {
    font-size: 17px;
  } 
  .service-panel-heading h2 {
    font-size: 20px;
  }   
  .service-panel-heading:hover h4 {
    font-size: 13px;
  }
  .service-panel-heading:hover h5 {
    font-size: 10px;
  } 

}
